ALLOWED_ORIGIN=*
TURN_USERNAME=your_turn_username
TURN_CREDENTIAL=your_turn_credential
TURN_URLS=turn:global.relay.metered.ca:80,turn:global.relay.metered.ca:80?transport=tcp,turn:global.relay.metered.ca:443,turns:global.relay.metered.ca:443?transport=tcp
